# env
.env
.env.*

# dependencies
node_modules/
landing/node_modules/

# build output
out/
broadcast/
cache/
cache_hardhat/
artifacts/
typechain-types/
landing/dist/
landing/.vite/

# lib (git submodule for forge-std)
lib/

# OS
.DS_Store

# Editor
.vscode/
.idea/